{%extends "base.html"%}
{%block head%}
    <link rel="stylesheet" type="text/css" href="/static/css/zocial.css">
    <style type="text/css">
        form{
            display:inline-block;
            width:300px;
            padding:1em;
            border-right:1px solid gray;
            text-align: left;
        }
        #other_services{
            padding:1em;
            display:inline-block;
            width:200px;
            height:250px;
            vertical-align: top;
            text-align: left;
        }
        form #register{
            margin:10px 0px;
            font-size: 0.8em;
        }
        form h3, #other_services h3{
            margin:0;
            margin-bottom: .5em;
            border-bottom: 1px solid #DDDDDD;
        }
        table{
            margin:10px 0;
        }
        input[type=text], input[type=password]{
            border: 1px solid #D2D2D2;
            box-shadow: 0 0 2px #DDDDDD inset;
            padding: 5px;
            width:90%;
            margin: 5px 0px;
        }
        input[type=text]:focus, input[type=password]:focus{
            border-color:orange;
        }
        input[type=submit]{
            font-weight: bold;
            margin:5px 0;
        }
        .error{
            font-size: 0.8em;
        }
        #content-container{
            text-align: center;
        }
    </style>
{%endblock%}

{%block title%}Login{%endblock%}

{%block content%}
    {%if user.is_authenticated and next%}
        <strong>Note:</strong> Access Denied. Please login to an authorized account to view this page. Otherwise <a href='/'>return home</a>.
    {%endif%}
    <form method="post" action="{{action}}">
        <h3>Login with your account</h3>
        {% if form.errors %}
            <p class='error'>Your username and password didn't match.</p>
        {% endif %}
        {% csrf_token %}
        <div class="form-container">
            {%for field in form%}
                <input type='{{field.field.widget.input_type}}' name="{{field.html_name}}" placeholder='{{field.label}}' value='{% if field.value %}{{field.value}}{%endif%}'/> <br/>
            {%endfor%}
        </div>
        <input type="submit" value="Login"/>
        <input type="hidden" value="{{next}}"/>
        <div id="register">
            <strong>Don't have an account? </strong>
            <a href="{% url 'user_manage.views.registerUser' %}">Register</a>
        </div>
    </form>
    <div id="other_services">
        <h3>Other services</h3>
        <a href="{% url 'socialauth_begin' 'google-oauth2' %}{% if next %}next={{next}}{% endif %}" class='zocial googleplus'>Google Login</a>
    </div>
{%endblock%}