{%extends 'base.html'%}
{% block head %}
    
{% endblock head %}
{% block content %}
    <h1>{{class.name}}</h1>
    <h2>Description:</h2>
    <p>
        {{class.description}}
    </p>
    <h3>Teachers:</h3>
    <p>
        <ul>
            <li><em>{{class.creator.get_full_name}} ({{class.creator.username}})</em></li>
            {%for teacher in class.teachers.all%}
                <li>{{teacher.get_full_name}} ({{teacher.username}})</li>
            {%endfor%}
        </ul>
    </p>
    <p>
        <h3>Students:</h3>
        <ul>
            {%for student in class.students.all%}
                <li>{{student.get_full_name}} ({{student.username}})</li>
            {%endfor%}
        </ul>
    </p>
{% endblock content %}